[Desktop Entry]
Type=Application
Name=Domain
Icon=signal-desktop
Exec=/usr/local/bin/domain
Terminal=true
Categories=Network;InstantMessaging;
Keywords=sgnl;chat;im;messaging;messenger;sms;security;privat;
